*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: #f4f4f4;
   font-family: sans-serif;
   display: flex;
   width: 100%;
   height: 100vh;
}
.main {
   width: 40%;
   max-width: 450px;
   min-width: 300px;
   box-sizing: border-box;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #ffffff;
   border-radius: 10px;
   outline: none;
   padding: 15px;
   box-shadow: 1px 2px rgba(24, 23, 23, 0.116);
   opacity: 0.9;
}
.main fieldset {
   border: none;
}
.main hr {
   opacity: 0.2;
}
.form-header {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   padding: 5px 0;
   border-bottom: 1px solid #ddd;
}
.form-header-title {
   display: flex;
   width: 100%;
   max-height: 35px;
   font-size: 10px;
   box-sizing: border-box;
}
.form-header-title h1 {
   flex: 1;
   max-height: 35px;
   margin-left: 5px;
   padding-top: 5px;
}
.form-header-title span {
   padding: 5px;
   border-radius: 50%;
   background-color: rgba(150, 241, 150, 0.555);
   color: rgb(4, 105, 17);
   outline: none;
   border: none;
}
.form-header-title i {
   padding: 5px;
   border-radius: 50%;
   width: 24px;
   height: 24px;
   text-align: center;
   border: 1px solid #ddd;
   box-sizing: border-box;
}
.form-header-title i:hover {
   background-color: #383737;
   color: #f4f4f4;
   transition: all 0.3s;
}
.form-header p {
   max-width: 90%;
   font-size: 14px;
   line-height: 1.5;
   font-weight: 600;
   color: #424242be;
   margin: 8px 0;
}
.form-main {
   padding: 15px 0;
   color: #424242be;
   font-size: 12px;
}
.form-main-group {
   margin-bottom: 7px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   font-weight: 600;
}
.form-main-group label {
   width: 100%;
   margin-bottom: 5px;
   font-weight: 800;
}
.form-main-group span {
   width: 100%;
}
.form-main-group label::after {
   content: '*';
   color: #ea4c89;
   margin-left: 4px;
}

.form-main-group input {
   width: 100%;
   padding: 7px;
   border-radius: 6px;
   border: 1px solid #ddd;
}
.form-main-group input::-webkit-input-placeholder {
   color: rgb(161, 161, 161);
}
.form-main-group input::-moz-input-placeholder {
   color: rgb(161, 161, 161);
}
.form-main-group input:hover::placeholder {
   font-weight: 600;
   color: #383737;
}
.form-main-group input:hover::-ms-reveal {
   color: #003cff;
   text-shadow: rgba(0, 60, 255, 0.5);

}
.form-main-group.invalid .form-invalid {
   border-color: #f33a58;
}
.form-main-group.invalid .form-main-message {
   color: #f33a58;
   font-style: italic;
}
.form-main-group input:focus,
.form-main-group input:hover
{
   border-color: #003cff;
   box-shadow: rgba(0, 60, 255, 0.5) 0px 3px 4px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   outline: none;
   transition: all linear 0.2s;
}
.form-main-group.checked {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* align-items: center; */
   margin: 10px 0 18px 0;
   flex-wrap: wrap;
}

.form-main-group.checked input {
   width: 16px;
   height: 16px;
   margin-right: 5px;
   accent-color: rgba(0, 60, 255, 0.5);
   cursor: pointer;
   outline: 1px solid rgba(221, 221, 221, 0.26);
}

.form-main-group.checked label{
   flex: 1;
   font-weight: 800;
}
.form-main-group.checked a {
   margin-top: 3px;
   text-decoration: none;
   color: rgb(161, 161, 161);
}
.form-main-group.checked span {
   flex: 1;
}
.form-main-group.checked a:hover {
   color: #383737;
}
.form-main-submit input {
   width: 100%;
   padding: 10px 0;
   background-color: #0085fe;
   border: none;
   outline: none;
   border-radius: 6px;
   color: aliceblue;
   font-size: 16px;
   margin-bottom: 10px;
}
.form-main-submit input:hover {
   transform: translate(0.5px, 1px);
   color:rgba(203, 210, 233, 0.904)
}
.form-footer {
   border: 1px solid #ddd;
   display: flex;
   padding: 20px 0 5px 0;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   font-weight: 500;
   color: #424242be;
}
.form-footer a {
   margin-left: 7px;
   text-decoration: none;
   color: #0085fe;
}
.form-footer a:hover {
   color: #003cff;
}

/* password form */
.overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
}
.main.forgot-password {
   min-width: 270px;
   max-width: 350px;
   max-height: 320px;
   position: absolute;
   transition: all linear;

   z-index: 100;
   /* animation: functionName effect duration-function delay iteration-count direction fill-mode; */
}

@keyframes pop-up {
   from {
      opacity: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
   }
   to {
      opacity: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.0);
   }
}

@keyframes pop-down {
   from {
      opacity: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.0);
   }
   to {
      opacity: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
   }
}

@keyframes overlay-on {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes overlay-off {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}

.main.forgot-password .form-header-title {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
}
